{% extends "base.html"%}
{% load static %}
{% block acercaDe1 %}

<section id="acerca_de">
    <div class="container">
        <h2>Acerca de Nosotros</h2>
        <p>Acerca de PCStore

            En PCStore, nos apasiona el mundo de la tecnología y estamos comprometidos a ofrecer a nuestros clientes la mejor experiencia en la compra de productos relacionados con la informática y la electrónica. Fundada en [2022], nuestra tienda se ha convertido en un destino confiable para entusiastas de la tecnología y profesionales por igual.</p>
        
        <h2> ¿Qué nos hace especiales? </h2>
        <p>
            Selección cuidadosa: En PCStore, seleccionamos cuidadosamente cada producto que ofrecemos para asegurarnos de que cumple con los estándares de calidad más altos.
            
            Asesoramiento experto: Nuestro equipo de expertos en tecnología está aquí para ayudarte a tomar decisiones informadas y brindarte soporte técnico cuando lo necesites.
            
            Servicio al cliente excepcional: La satisfacción del cliente es nuestra prioridad número uno. Estamos comprometidos a brindar un servicio amable y eficiente en cada paso del proceso de compra.</p>

        <h2>Visítanos hoy</h2>
        <p> Estamos ubicados en [chalatenango-centro], y también puedes explorar nuestro catálogo en línea en [PCstore]. Si eres un entusiasta de la tecnología, un profesional en busca de equipos de vanguardia o simplemente alguien que busca soluciones informáticas confiables, te invitamos a visitarnos y experimentar la diferencia de PCStore.
            
            Gracias por considerarnos como tu elección para todas tus necesidades tecnológicas. Esperamos servirte y ser parte de tu viaje tecnológico.</p>

    </div>
{% endblock %}
</section>
</body>
</html>